.accordion
	.btn
		font-size: 22px
		padding: 21px 28px
		line-height: 22px
	&-header
		padding: 30px
		&-col
			> *
				display: block
			strong
				font-family: 'gilroybold'
				color: $dark
				font-size: 24px
				line-height: 26px
				margin-bottom: 30px
			span
				font-family: 'gilroysemibold'
				color: $white
				font-size: 40px
				line-height: 40px
	&-item
		padding-right: 25px