.for-investors
	//position: relative
	//min-height: 1100px
	//padding-bottom: 240px
	//&:before
	//	content: ""
	//	display: block
	//	width: 100%
	//	z-index: -1
	//	position: absolute
	//	background: url(../images/for-investors-bg.jpg) no-repeat bottom center
	//	min-height: 1100px
	//	bottom: 0
	&-bg
		width: calc(100% + 40px)
		height: 580px
		background: no-repeat center center
		background-size: cover
		margin-left: -20px
		position: relative
		&:before
			content: ""
			display: block
			width: 50vw
			height: calc(50vw - (50vw * 0.15))
			background: url(../images/for-investors-left-bg-dynamic.svg) no-repeat right bottom
			background-size: cover
			position: absolute
			top: -14px
			right: calc(50vw - 10px)
			z-index: 0
		&:after
			content: ""
			display: block
			width: 50vw
			height: calc(50vw - (50vw * 0.25))
			background: url(../images/for-investors-right-bg-dynamic.svg) no-repeat left bottom
			background-size: cover
			position: absolute
			top: calc(100vw * 0.155)
			left: calc(50vw - 10px)
			z-index: 0
		&-sub
			position: absolute
			width: 100%
			height: 100%
			top: 0
			left: 0
			right: 0
			bottom: 0
			z-index: -1
			&:before
				content: ""
				display: block
				position: absolute
				width: 50vw
				background: url(../images/for-investors-left-bg-static.svg) no-repeat 0 0
				background-size: cover
				right: calc(50vw - 10px)
			&:after
				content: ""
				display: block
				position: absolute
				width: 50vw
				background: url(../images/for-investors-right-bg-static.svg) no-repeat 0 0
				background-size: cover
				left: calc(50vw - 10px)

	&-left-
		//min-height: 945px
		position: relative
		&:before
			content: ""
			display: block
			width: 50vw
			height: 158px
			background: url(../images/for-investors-left-bg-static.svg) no-repeat 0 0
			background-size: cover
			position: absolute
			bottom: 0
			left: 0
			z-index: -1
		&:after
			content: ""
			display: block
			width: 50vw
			height: 135px
			background: url(../images/for-investors-left-bg-dynamic.svg) no-repeat 0 0
			background-size: cover
			position: absolute
			bottom: 0
			left: 0
			z-index: -1
	&-right-
		min-height: 1210px
		//padding-left: 16.67%
		position: relative
		&:before
			content: ""
			display: block
			width: 50vw
			height: 202px
			background: url(../images/for-investors-right-bg-static.svg) no-repeat 0 0
			background-size: cover
			position: absolute
			bottom: 273px
			right: 0
			z-index: -1
		&:after
			content: ""
			display: block
			width: 50vw
			height: 286px
			background: url(../images/for-investors-right-bg-dynamic.svg) no-repeat 0 0
			background-size: contain
			position: absolute
			bottom: 273px
			right: 0
			z-index: -1
	h2
		margin-top: -46px
	// Page for investors
	&-section-0
		.main-image
			background-position: -200px center
	&-section-2
		background: url(../images/for-investors-section-2-bg.svg) no-repeat top left
	&-section-3
		textarea
			height: 190px !important
		.btn
			width: 100%
		&-image
			position: relative
			z-index: 1
			width: calc(100% + 40px)
			height: 320px
			background: url(../images/for-investors-section-3-image.jpg) no-repeat center center
			background-size: cover
			top: -80px
			left: -20px

@media (min-width: 1140px)
	.for-investors
		&-bg
			position: relative
			z-index: -1
			margin-top: -187px
			height: calc(100vw * 0.57292)
			width: calc(100% + 120px)
			margin-left: -60px
			&:before
				right: calc(50vw - 10px)
				top: calc(-100vw * 0.22083)
				height: calc(50vw - (50vw * 0.15))
			&:after
				top: calc(-100vw * 0.0338542)
				left: calc(50vw - 10px)
			&-sub
				&:before
					top: calc(-100vw * 0.2989)
					height: calc(50vw * 0.984375)
				&:after
					top: calc(-100vw * 0.2889)
					height: calc(50vw * 1.2604167)

@media (min-width: 960px)
	.for-investors
		&-left-
			min-height: 945px
			&:before
				height: 945px
				width: 960px
				bottom: 533px
				right: 0
				left: unset
			&:after
				width: 960px
				height: 812px
				bottom: 533px
				right: 0
				left: unset
		&-right-
			min-height: 1210px
			&:before
				width: 960px
				height: 1210px
				left: 0
				right: unset
			&:after
				width: 960px
				height: 714px
				left: 0
				right: unset



		&-section-0
			.main-image
				background-position: center center
		&-section-3
			textarea
				height: 190px !important
			.btn
				width: 330px
			&-image
				width: calc(100% + 80px)
				height: calc(100% + 320px)
				left: -60px
				top: -160px