.f
	@each $breakpoint in map-keys($grid-breakpoints)
		$next: breakpoint-next($breakpoint, $grid-breakpoints)
		$infix: breakpoint-infix($next, $grid-breakpoints)
		&#{$infix}
			@include media-breakpoint-up($next)
				&-bold
					font-family: 'gilroybold' !important
				&-medium
					font-family: 'gilroymedium' !important
				&-semibold
					font-family: 'gilroysemibold' !important
				&-regular
					font-family: 'gilroyregular' !important

.line-height-1
	line-height: 1

b, strong
	font-family: 'gilroybold' !important

@mixin headersTag($sizes...)
	@for $i from 0 to length($sizes)
		h#{$i + 1},
		.h#{$i + 1}
			font-size: #{nth($sizes, $i+1)}px
			font-weight: normal
			font-family: 'gilroybold'

@mixin classSizes($sizes...)
	@each $className, $size in $sizes
		.#{$className}
			font-size: $size !important

@include headersTag(24, 40, 18, 18)

@media (min-width: 576px)
	@include headersTag(24, 50, 22, 18)

@media (min-width: 768px)
	@include headersTag(38, 90, 24, 22)

@media (min-width: 992px)
	@include headersTag(38, 120, 24, 22)

@media (min-width: 1200px)
	@include headersTag(38, 150, 24, 22)

@media (min-width: 1400px)
	@include headersTag(38, 160, 24, 22)

@media (min-width: 1600px)
	@include headersTag(38, 180, 24, 22)

@mixin paragraph($sizes...)
	@for $i from 0 to length($sizes)
		.p#{$i + 1}
			font-size: #{nth($sizes, $i+1)}px
			font-weight: normal

@include paragraph(14px)

@media (min-width: 1140px)
	@include paragraph(14px)

@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints))
	$n: index($breakpoint-names, $name)
	@if not $n
		@error "breakpoint `#{$name}` not found in `#{$breakpoints}`"
	@return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null)

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints)
	@return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}")

@function breakpoint-min($name, $breakpoints: $grid-breakpoints)
	$min: map-get($breakpoints, $name)
	@return if($min != 0, $min, null)

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints)
	$min: breakpoint-min($name, $breakpoints)
	@if $min
		@media (min-width: $min)
			@content
	@else
		@content

$fontSizes: (14, 16, 20, 23, 24, 26, 42, 46, 51, 56, 70, 77, 124, 180, 198, 220)

.f
	@each $breakpoint in map-keys($grid-breakpoints)
		$next: breakpoint-next($breakpoint, $grid-breakpoints)
		$infix: breakpoint-infix($next, $grid-breakpoints)
		&#{$infix}
			@include media-breakpoint-up($next)
				@each $size in $fontSizes
					&-#{$size}
						font-size: #{$size}px !important

.lh
	@each $breakpoint in map-keys($grid-breakpoints)
		$next: breakpoint-next($breakpoint, $grid-breakpoints)
		$infix: breakpoint-infix($next, $grid-breakpoints)
		&#{$infix}
			@include media-breakpoint-up($next)
				@each $size in $fontSizes
					&-#{$size}
						line-height: #{$size}px !important

.invalid-feedback
	font-size: 12px

$widths: (250, 315, 425)

.w
	@each $breakpoint in map-keys($grid-breakpoints)
		$next: breakpoint-next($breakpoint, $grid-breakpoints)
		$infix: breakpoint-infix($next, $grid-breakpoints)
		&#{$infix}
			@include media-breakpoint-up($next)
				@each $size in $widths
					&-#{$size}
						width: #{$size}px !important