html
	height: 100%

body
	height: 100%
	color: $primary
	font-size: 24px
	line-height: 26px

header
	flex: 0 0 auto
main
	flex: 1 0 auto
footer
	flex: 0 0 auto

.container-fluid
	padding-left: 20px
	padding-right: 20px

@media (min-width: 1140px)
	.container-fluid
		padding-left: 60px
		padding-right: 60px

.logo
	background: url(../images/logo.svg) no-repeat center center
	width: 185px
	height: 125px