{% extends '../templates/layout.twig' %}

{% block main %}
    <main>
        <section class="mb-160">
            <div class="main-image" style="background-image: url(images/for-investors-main-bg.jpg)">
                <div class="container-fluid">
                    <h1 class="title-page">Для инвесторов</h1>
                </div>
            </div>
        </section>
        <section class="pb-lg-274 pb-40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 mb-40">
                        <h2 class="f-lg-70 lh-lg-70 f-32 mb-40">Партнерство</h2>
                        <div class="f-lg-42 lh-lg-42 f-20 lh-22 f-medium">
                            <p>Если у вас есть земельный участок, проект строительства либо объект под реформу, мы открыты к сотрудничеству.</p>
                            <p>Мы гарантируем полное соответствие нашей деятельности всем законодательным нормам.</p>
                        </div>
                    </div>
                    <div class="col-lg-5 offset-lg-1 mb-40">
                        <h2 class="f-lg-70 lh-lg-70 f-32 mb-40">Zlata Consola S.L</h2>
                        <div class="f-lg-42 lh-lg-42 f-20 lh-22 f-medium">
                            <p>Является собственником и застройщиком нескольких объектов. Кроме того, мы находимся в постоянном развитии и увеличении возможностей нашей компании по строительству и ремонту различных объектов недвижимости в районе Costa Brava.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white py-lg-160 py-80 text-dark f-lg-42 lh-lg-46 f-20 lh-22 f-medium for-investors-section-2">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <p>Специально для привлечения инвесторов, как частных лиц, так и организаций и фондов, нами разработано несколько инвест-пакетов:</p>
                        <ol>
                            <li>Прямые контракты займа на собственника и застройщика с оговоренными сроками, процентными ставками, гарантийными обязательствами и прочее.</li>
                            <li>Договора с гарантированной суммой прибыли в зависимости от вложений и возможностью получения дополнительной прибыли в виде 50% от суммы, превышающей оговоренную цену продажи объекта.</li>
                            <li>Другие варианты.</li>
                        </ol>
                        <p>В случае вашей заинтересованности, просим заполнить краткую анкету и связаться с нами любым удобным для вас способом.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-lg-160 py-80 for-investors-section-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5"></div>
                    <div class="col-lg-5 offset-lg-1">
                        <div class="mb-40">
                            <h2 class="f-lg-51 lh-lg-56 f-32 lh-32 mb-40">Инвестируйте в недвижимость от Zlata Consola</h2>
                            <p>Это выгодное решение! Благодаря использованию современных технологий и материалов,наши объекты постоянно растут в цене.</p>
                        </div>
                        <form>
                            <div class="form-floating mb-15">
                                <input type="text" class="form-control" id="name" placeholder="Имя*">
                                <label for="name">Имя*</label>
                            </div>
                            <div class="form-floating mb-15">
                                <input type="text" class="form-control" id="phone" placeholder="Номер телефона*">
                                <label for="phone">Номер телефона*</label>
                            </div>
                            <div class="form-floating mb-15">
                                <input type="email" class="form-control" id="email" placeholder="Email">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-floating mb-40">
                                <textarea class="form-control" placeholder="Сообщение" id="message"></textarea>
                                <label for="message">Сообщение</label>
                            </div>
                            <button class="btn btn-warning">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}