{% extends '../templates/layout.twig' %}

{% block main %}
    <main>
        {% include '../organisms/main-header-section.twig' %}
        {% include '../organisms/our-projects.twig' %}
        {% include '../organisms/for-investors.twig' %}
        {% include '../organisms/about-us.twig' %}
    </main>
{% endblock %}