{% extends '../templates/layout.twig' %}

{% block main %}
    <main>
        <div class="container-fluid">
            {% include '../organisms/for-investors.twig' %}
            {% include '../organisms/about-as.twig' %}
        </div>
    </main>
{% endblock %}