{% extends '../templates/layout.twig' %}

{% block main %}
    <main>
        <section class="our-projects mb-lg-160 mt-lg-328 mt-154">
            <div class="container-fluid">
                <h2>Наши проекты</h2>
                <div class="row row-cols-xl-3 row-cols-sm-2 row-cols-1">
                    {% include '../molecules/our-project-item.twig' %}
                    {% include '../molecules/our-project-item.twig' %}
                    {% include '../molecules/our-project-item.twig' %}
                    {% include '../molecules/our-project-item.twig' %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}