{% extends '../templates/layout.twig' %}

{% block main %}
    <main>
        <section class="our-projects mb-160 mt-328">
            <div class="container-fluid">
                <h2>Наши проекты</h2>
                <div class="row">
                    {% include '../molecules/our-project-item.twig' %}
                    {% include '../molecules/our-project-item.twig' %}
                    {% include '../molecules/our-project-item.twig' %}
                    {% include '../molecules/our-project-item.twig' %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}