{% extends '../templates/layout.twig' %}

{% block main %}
    <main>
        <section class="mb-lg-160 mb-80  project-section-0">
            <div class="main-image" style="background-image: url(images/project-header-bg-2x.jpg)">
                <div class="container-fluid">
                    <div class="project-title-page">
                        <p class="f-xl-42 lh-xl-40">Таунхаусы</p>
                        <h1 class="f-xl-180 lh-xl-180">Lloret de Mar</h1>
                    </div>
                </div>
            </div>
        </section>

        {% include '../organisms/project/about-project.twig' %}

        <section class="project-section-exterior slick-carousel-section mb-50">
            <div class="container-fluid">
                <div class="project-section-title">
                    <h2>Экстерьер</h2>
                </div>
                <div class="slick-carousel">
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                </div>

                <div class="slick-arrows-container mx-15"></div>
            </div>
        </section>

        <section class="project-section-interior slick-carousel-section mb-50">
            <div class="container-fluid">
                <div class="project-section-title">
                    <h2>Интерьер</h2>
                </div>
                <div class="slick-carousel">
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                    <div><div class="slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div></div>
                </div>

                <div class="slick-arrows-container mx-15"></div>
            </div>
        </section>

        {% include '../organisms/project/house-layout.twig' %}

        {% include '../organisms/video-section.twig' %}

        {% include '../organisms/project/construction-progress.twig' %}

        <section>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11061.539128110142!2d32.01893521842728!3d36.542698467645934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sru!2sua!4v1732469868754!5m2!1sru!2sua" width="100%" height="660" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>
{% endblock %}