<section class="project-about-project pt-lg-130 pb-lg-160 py-80">
    <div class="container-fluid">
        <h2 class="f-lg-70 lh-lg-77 f-32 lh-32 mb-lg-80 mb-40">О проекте</h2>
        <div class="row">
            <div class="col-xl-5 col-12">
                <div class="row">
                    <div class="col-12 mb-xl-80 mb-40">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-18 f-bold">Подробности:</p>
                        <div class="f-xl-42 lh-xl-42 f-20 lh-22 f-semibold">
                            <p>4 строения по 2 таунхауса каждое в городе Льорет де Мар.</p>
                        </div>
                    </div>
                    <div class="col-12 mb-xl-80 mb-40">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-18 f-bold">Описание:</p>
                        <ul class="row row-cols-md-2 list-unstyled f-xl-24 lh-xl-33 f-16 lh-22 f-regular">
                            <li>- 8 домов (Каждый по 360 м2)</li>
                            <li>- Гараж на 2 автомобиля</li>
                            <li>- Мини-сад с барбекю</li>
                            <li>- Общий бассейн, зона отдыха</li>
                            <li>- Терасса</li>
                            <li>- Зона барбекю</li>
                            <li>- Гардеробная</li>
                            <li>- 3 Спальни</li>
                            <li>- 3 Ванных комнаты</li>
                            <li>- Гостинная с камином</li>
                            <li>- Кухня</li>
                            <li>- Прачечная</li>
                            <li>- Кладовая</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-12">
                <div class="row row-cols-md-2">
                    <div class="mb-xl-80 mb-40 f-bold">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-22">Площадь дома:</p>
                        <p class="f-xl-50 lh-xl-54 f-32 lh-32">360 m<sup>2</sup></p>
                    </div>
                    <div class="mb-xl-80 mb-40 f-bold">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-22">Площадь Участка:</p>
                        <p class="f-xl-50 lh-xl-54 f-32 lh-32">800 m<sup>2</sup></p>
                    </div>
                    <div class="mb-xl-80 mb-40 f-bold">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-22">До Барселоны:</p>
                        <p class="f-xl-50 lh-xl-54 f-32 lh-32">60 минут</p>
                    </div>
                    <div class="mb-xl-80 mb-40 f-bold">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-22">Этажность:</p>
                        <p class="f-xl-50 lh-xl-54 f-32 lh-32">3 этажа</p>
                    </div>
                    <div class="mb-xl-80 mb-40 f-bold">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-22">Тип:</p>
                        <p class="f-xl-50 lh-xl-54 f-32 lh-32">Вилла</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-12 mb-40">
                <p class="f-xl-24 lh-xl-24 f-16 lh-22 f-bold">Скачать план объекта:</p>
                <a href="#" class="btn btn-outline-white rounded-0 w-auto mb-10">Нулевой этаж <i class="ri-download-line"></i></a>
                <a href="#" class="btn btn-outline-white rounded-0 w-auto mb-10">1-4 этаж <i class="ri-download-line"></i></a>
                <a href="#" class="btn btn-outline-white rounded-0 w-auto mb-10">Пентхаус <i class="ri-download-line"></i></a>
            </div>
            <div class="col-xl-6 col-12 mb-xl-80 mb-40">
                <div class="d-lg-flex align-items-end">
                <div class="mb-20 f-bold">
                    <p class="f-xl-42 lh-xl-28 f-20 lh-22">Стоимость:</p>
                    <p class="f-xl-68 lh-xl-68 f-42 lh-46">650.000 €</p>
                </div>
                <a href="#" class="btn btn-warning ms-xl-40 mb-lg-20">Узнать подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>