<section class="project-about-project pt-lg-130 pb-lg-160 py-80">
    <div class="container-fluid">
        <h2 class="f-lg-70 lh-lg-77 mb-lg-80">О проекте</h2>
        <div class="row">
            <div class="col-xl-5 col-12 mb-xl-80">
                <div class="row">
                    <div class="col-12 mb-xl-80">
                        <p class="f-xl-24 lh-xl-26 f-bold">Подробности:</p>
                        <div class="f-xl-42 lh-xl-42 f-semibold">
                            <p>4 строения по 2 таунхауса каждое в городе Льорет де Мар.</p>
                        </div>
                    </div>
                    <div class="col-12 mb-xl-80">
                        <p class="f-xl-24 lh-xl-26 f-bold">Описание:</p>
                        <ul class="row row-cols-2 list-unstyled f-24 lh-33 f-regular">
                            <li>- 8 домов (Каждый по 360 м2)</li>
                            <li>- Гараж на 2 автомобиля</li>
                            <li>- Мини-сад с барбекю</li>
                            <li>- Общий бассейн, зона отдыха</li>
                            <li>- Терасса</li>
                            <li>- Зона барбекю</li>
                            <li>- Гардеробная</li>
                            <li>- 3 Спальни</li>
                            <li>- 3 Ванных комнаты</li>
                            <li>- Гостинная с камином</li>
                            <li>- Кухня</li>
                            <li>- Прачечная</li>
                            <li>- Кладовая</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 offset-xl-1 col-12">
                <div class="row row-cols-md-2">
                    <div class="mb-xl-80 f-bold">
                        <p class="f-xl-24 lh-xl-26">Площадь дома:</p>
                        <p class="f-xl-50 lh-xl-54">360 m<sup>2</sup></p>
                    </div>
                    <div class="mb-xl-80 f-bold">
                        <p class="f-xl-24 lh-xl-26">Площадь Участка:</p>
                        <p class="f-xl-50 lh-xl-54">800 m<sup>2</sup></p>
                    </div>
                    <div class="mb-xl-80 f-bold">
                        <p class="f-xl-24 lh-xl-26">До Барселоны:</p>
                        <p class="f-xl-50 lh-xl-54">60 минут</p>
                    </div>
                    <div class="mb-xl-80 f-bold">
                        <p class="f-xl-24 lh-xl-26">Этажность:</p>
                        <p class="f-xl-50 lh-xl-54">3 этажа</p>
                    </div>
                    <div class="mb-xl-80 f-bold">
                        <p class="f-xl-24 lh-xl-26">Тип:</p>
                        <p class="f-xl-50 lh-xl-54">Вилла</p>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-12 mb-40">
                <p class="f-xl-24 lh-xl-24 f-bold">Скачать план объекта:</p>
                <a href="#" class="btn btn-outline-white rounded-0">Нулевой этаж <i class="ri-download-line"></i></a>
                <a href="#" class="btn btn-outline-white rounded-0">1-4 этаж <i class="ri-download-line"></i></a>
                <a href="#" class="btn btn-outline-white rounded-0">Пентхаус <i class="ri-download-line"></i></a>
            </div>
            <div class="col-xl-6 col-12">
                <div class="mb-xl-80 f-bold">
                    <p class="f-xl-42 lh-xl-28">Стоимость:</p>
                    <p class="f-xl-68 lh-xl-68">650.000 €</p>
                </div>
            </div>
        </div>
    </div>
</section>