<section class="bg-white py-xl-160 text-dark project-construction-progress">
    <div class="container-fluid">
        <h2 class="f-xl-180 lh-xl-180 mb-xl-80">Ход стройки</h2>
        <div class="row">
            <div class="col-xl-4 f-bold">
                <p class="f-xl-24 lh-xl-26">Начало строительства:</p>
                <p class="f-xl-50 lh-xl-64">Февраль 2025</p>
            </div>
            <div class="col-xl-4 f-bold">
                <p class="f-xl-24 lh-xl-26">Конец строительства:</p>
                <p class="f-xl-50 lh-xl-64">Февраль 2026</p>
            </div>
        </div>
    </div>
</section>