<section class="house-layout pt-lg-50 pb-xl-160">
    <div class="container-fluid">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="d-flex align-items-center">
                        <div class="accordion-header-col">
                            <strong>Этаж:</strong>
                            <span>Первый</span>
                        </div>
                        <div class="accordion-header-col">
                            <strong>Площадь:</strong>
                            <span>71м2</span>
                        </div>
                        <div class="accordion-header-col">
                            <strong>Цена:</strong>
                            <span>250.000 €</span>
                        </div>
                        <div class="accordion-header-col">
                            <strong>Статус:</strong>
                            <span>В продаже</span>
                        </div>
                        <div class="ms-auto">
                            <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                Подробнее <i class="ri-arrow-down-line"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="f-lg-24 lh-lg-26 mb-40">
                            Квартира занимает площадь 60 м2, 25 м2 внутренего двора
                        </div>
                        <div class="mb-40">
                            <div class="house-layout-slick">
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-1.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-2.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-3.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-4.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-5.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-6.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-7.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-8.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-1.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-2.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-3.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-4.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-5.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-6.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-7.jpg)"></div>
                                <div class="house-layout-slick-item" style="background-image: url(images/house-layout/house-layout-slick-item-image-8.jpg)"></div>
                            </div>

                        </div>
                        <div class="d-flex mb-20">
                            <a href="#" class="btn btn-warning me-10">Получить консультацию</a>
                            <a href="#" class="btn btn-white">Скачать план <i class="ri-arrow-down-line"></i></a>
                            <div class="slick-arrows-container ms-auto"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>