<section class="house-layout pt-lg-50 pb-xl-160">
    <div class="container-fluid">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <div class="accordion-header">
                    <div class="d-flex align-items-center">
                        <div class="accordion-header-col">
                            <strong>Этаж:</strong>
                            <span>Первый</span>
                        </div>
                        <div class="accordion-header-col">
                            <strong>Площадь:</strong>
                            <span>71м2</span>
                        </div>
                        <div class="accordion-header-col">
                            <strong>Цена:</strong>
                            <span>250.000 €</span>
                        </div>
                        <div class="accordion-header-col">
                            <strong>Статус:</strong>
                            <span>В продаже</span>
                        </div>
                        <div class="ms-auto">
                            <button class="btn btn-warning" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                Подробнее <i class="ri-arrow-down-line"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>