<section class="project-location">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-12">
                <div class="project-section-title mb-xl-80 mb-40">
                    <h2>Локация</h2>
                </div>
                <div class="mb-xl-80 mb-40">
                    <p class="f-xl-24 lh-xl-26 f-16 lh-18 f-bold">Подробности:</p>
                    <div class="f-xl-42 lh-xl-42 f-20 lh-22 f-semibold">
                        <p>4 строения по 2 таунхауса каждое в городе Льорет де Мар.</p>
                    </div>
                </div>
                <img src="images/location-image-1.jpg" class="img-fluid mb-xl-80 mb-40" alt="" title=""/>
                <div class="mb-xl-80 mb-40">
                    <p class="f-xl-24 lh-xl-26 f-16 lh-18 f-bold">Развлечения:</p>
                    <ul class="list-unstyled f-xl-24 lh-xl-33 f-16 lh-22 f-regular">
                        <li>- Водные виды спорта (дайвинг, снорклинг, плавание)</li>
                        <li>- Пешие прогулки</li>
                        <li>- Велосипедные прогулки</li>
                        <li>- Ночные клубы и бары</li>
                        <li>- Рестораны и кафе</li>
                    </ul>
                </div>
                <div class="mb-xl-80 mb-40">
                    <p class="f-xl-24 lh-xl-26 f-16 lh-18 f-bold">Инфраструктура:</p>
                    <div class="f-xl-24 lh-xl-33 f-16 lh-22 f-regular">
                        <p>Рядом находится два парка, супермаркет Lidl, Esclat, JYSK, гипермаркет ASIA, 800 метров до бухты и пляжа Феналс. Центр Льорета, в то же время, обособленная зона рядом с парком и церковью.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-12">
                <div class="row">
                    <img src="images/location-image-2.jpg" class="img-fluid mb-xl-80 mb-40 order-xl-0 order-5" alt="" title=""/>
                    <div class="mb-xl-80 mb-40">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-18 f-bold">Подробнее о локации:</p>
                        <ul class="list-unstyled f-xl-24 lh-xl-33 f-16 lh-22 f-regular">
                            <li>- Население: около 39 000 человек</li>
                            <li>- Расположение: 75 км к северу от Барселоны</li>
                            <li>- Известен: пляжи, исторические памятники, ботанические сады, ночная жизнь</li>
                            <li>- Достопримечательности:</li>
                            <li>- Замок Сан-Хуан (11 век)</li>
                            <li>- Церковь Сан-Рома (16 век)</li>
                            <li>- Сады Святой Клотильды (20 век)</li>
                            <li>- Пляж Льорет</li>
                            <li>- Пляж Феналс</li>
                            <li>- Аквапарк Water World</li>
                        </ul>
                    </div>
                    <div class="mb-xl-80 mb-40">
                        <p class="f-xl-24 lh-xl-26 f-16 lh-18 f-bold">Перспективы:</p>
                        <div class="f-xl-24 lh-xl-33 f-16 lh-22 f-regular">
                            <p>Туризм: Льорет де Мар - это популярное туристическое направление, которое продолжает развиваться. Ожидается, что в будущем количество туристов будет расти, что приведет к созданию новых рабочих мест и стимулирует рост экономики.</p>
                            <p>Инвестиции: Льорет де Мар - это привлекательное место для инвестиций в недвижимость. Ожидается, что цены на недвижимость будут расти, что сделает инвестиции выгодными.</p>
                            <p>Устойчивое развитие: Городские власти Льорет де Мар привержены принципам устойчивого развития. Ожидается, что в будущем город станет еще более экологически чистым и привлекательным для жизни.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>