<div class="mx-15">
    <a href="#" class="our-projects-slick-item">
        <div class="our-projects-slick-item-image" style="background-image: url(images/project-slick-image.jpg)"></div>
        <div class="our-projects-slick-item-title">
            <div class="d-flex align-items-end">
                <div class="d-flex flex-column">
                    <small class="text-uppercase f-16 lh-24 f-bold">Вилла</small>
                    <span class="f-xxxl-42 lh-xxxl-46 f-xxl-30 lh-xxl-33 f-25 lh-27 f-bold">Arenys de Mar Arenys de Arenys de Mar Mar </span>
                </div>
                <span class="btn btn-warning btn-lg btn-slick-arrow">
                    <i class="ri-arrow-right-line"></i>
                </span>
            </div>
        </div>
    </a>
</div>