<div class="col">
    <a href="#" class="our-projects-item">
        <div class="our-projects-item-image" style="background-image: url(images/project-slick-image.jpg)"></div>
        <div class="our-projects-item-title">
            <div class="d-flex align-items-end">
                <div class="d-flex flex-column">
                    <small class="text-uppercase f-16 lh-24 f-bold">Вилла</small>
                    <span class="f-42 lh-46 f-bold">Arenys de Mar Arenys de Arenys de Mar Mar </span>
                </div>
                <span class="btn btn-warning btn-lg">
                <i class="ri-arrow-right-line"></i>
            </span>
            </div>
        </div>
    </a>
</div>