<section class="about-as">
    <div class="container-fluid">
        <h2>О нас</h2>
        <div class="row mb-160">
            <div class="col-xl-6">
                <div class="f-42 lh-42 about-as-description mb-87">
                    <p>Компания Zlata Consola основана в марте 2018 года в городе Льорет-де-Мар, Испания.</p>
                    <p>Наша команда специалистов постоянно изучает запросы и потребности клиентов, чтобы создать настоящий дом-мечты</p>
                </div>
                <div class="mb-53">
                    <p>Основная деятельность проходит в районе Costa Brava (Коста Брава). На сегодняшний день компания ведёт одновременно 3 объекта. Мы выполняем все виды строительных работ. Быстро, качественно и профессионально.</p>
                </div>
                <a href="#" class="btn btn-warning">Узнать подробности</a>
            </div>
            <div class="offset-xl-1 col-5">
                <div class="mb-98">
                    <p class="mb-40">Завершенные/текущие/запланированные:</p>
                    <p class="lh-220 f-bold">
                        <span class="f-220">16</span>
                        <span class="f-70">Проектов</span>
                    </p>
                </div>
                <div class="mb-98">
                    <p class="mb-40">В строительстве:</p>
                    <p class="lh-220 f-bold">
                        <span class="f-220">6</span>
                        <span class="f-70">Лет</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="about-as-image" style="background-image: url(images/about-as-image.jpg)"></div>
    </div>
</section>