<section class="about-us py-80 py-xl-160 overflow-hidden">
    <div class="container-fluid">
        <h2 class="mb-lg-80 mb-20">О нас</h2>
        <div class="row mb-80">
            <div class="col-lg-6">
                <div class="f-xlg-42 lh-xlg-42 f-lg-33 lh-lg-33 f-20 lh-22 about-us-description mb-xxl-87 mb-30">
                    <p>Компания Zlata Consola основана в марте 2018 года в городе Льорет-де-Мар, Испания.</p>
                    <p>Наша команда специалистов постоянно изучает запросы и потребности клиентов, чтобы создать настоящий дом-мечты</p>
                </div>
                <div class="f-xl-24 lh-xl-26 f-16 lh-18 mb-53">
                    <p>Основная деятельность проходит в районе Costa Brava (Коста Брава). На сегодняшний день компания ведёт одновременно 3 объекта. Мы выполняем все виды строительных работ. Быстро, качественно и профессионально.</p>
                </div>
                <a href="#" class="btn btn-warning f-xl-24 lh-xl-24 f-18 lh-16">Узнать подробности</a>
            </div>
            <div class="offset-xl-1 col-xl-5 col-lg-6 col-12 mt-lg-0 mt-40">
                <div class="d-flex flex-lg-column flex-md-row flex-column justify-content-center align-items-center">
                    <div class="mb-56 w-100 text-lg-start text-center">
                        <p class="f-lg-20 lh-lg 23 f-16 lh-18">Завершенные/текущие/запланированные:</p>
                        <p class="f-bold mb-0">
                            <span class="f-xl-220 lh-xl-220 f-180 lh-198 d-lg-inline d-block">16</span>
                            <span class="f-xl-70 f-48 lh-48">Проектов</span>
                        </p>
                    </div>
                    <div class="mb-56 w-100 text-lg-start text-center">
                        <p class="f-lg-20 lh-lg 23 f-16 lh-18">В строительстве:</p>
                        <p class="f-bold">
                            <span class="f-xl-220 lh-xl-220 f-180 lh-198 d-lg-inline d-block">6</span>
                            <span class="f-xl-70 f-48 lh-48">Лет</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us-image" style="background-image: url(images/about-us-image.jpg)"></div>
    </div>
</section>