<footer>
    <div class="container-fluid">
        <div class="row mb-95">
            <div class="col-xl-3 col-12 mb-xl-0 mb-80">
                <div class="logo mb-40"></div>
                <p>Zlata Consola – это больше, чем просто строительная компания. Мы команда, где каждый специалист выполняет свою ключевую роль, чтобы все процессы работали слаженно. </p>
            </div>
            <div class="offset-xl-2 col-xl-2 col-md-6 mb-xl-0 mb-80">
                <menu>

                    <li><a href="our-projects.html" rel="nofollow">Наши проекты</a></li>
                    <li><a href="about-us.html" rel="nofollow">О нас</a></li>
                    <li><a href="for-investors.html" rel="nofollow">Для Инвесторов</a></li>
                    <li><a href="contacts.html" rel="nofollow">Контакты</a></li>

                </menu>
            </div>
            <div class="col-xl-4 col-md-6 mb-xl-0 mb-80">
                <p class="mb-40"><b>Контакты:</b></p>
                <p class="mb-40">Avda Vila de Tossa, 54 Planta Baja, Puerta A, 17310 Lloret de Mar (Girona), España</p>
                <p class="mb-0">+34 666 884 644</p>
                <p class="mb-0">+34 630 313 122</p>
                <p class="mb-40">+34 672 239 672</p>
                <p class="mb-0">zlataconsolasl@gmail.com</p>
            </div>
        </div>
        <div class="text-dark f-14 lh-16 f-medium">
            <p class="mb-20">© 2024 Все права защищены</p>
            <p><a href="#" class="text-dark">Политика конфиденциальности</a></p>
        </div>
    </div>
</footer>