<section class="for-investors">
    <div class="container-fluid">
        <div class="mb-40">
            <p class="f-20 lh-23">Сотрудничество</p>
            <h2>Для инвесторов</h2>
        </div>
        <div class="row f-medium">
            <div class="col-xl-6 f-xl-42 lh-xl-42 f-20 lh-22 for-investors-left mb-20">
                <div class="row">
                    <div class="col-lg-10">
                        <p>Мы гарантируем полное соответствие нашей деятельности всем законодательным нормам Испании.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 f-xl-42 lh-xl-42 f-20 lh-22 for-investors-right">
                <div class="row">
                    <div class="col-lg-10 offset-lg-2">
                        <div class="animate__animated animate__slideInUp mb-40">
                            <p>Благодаря использованию современных технологий и материалов наши объекты постоянно растут в цене.</p>
                            <p>Это отличная возможность для тех, кто стремится инвестировать в перспективные проекты.</p>
                        </div>
                        <a href="#" class="btn btn-warning f-xl-24 lh-xl-24 f-18 lh-16">Узнать подробности</a>

                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="for-investors-bg" style="background-image: url(images/for-investors-bg.jpg)">
                    <div class="for-investors-bg-sub"></div>
                </div>
            </div>
        </div>
    </div>
</section>