<section class="for-investors pt-160 mb-116">
    <div class="container-fluid">
        <div class="mb-40">
            <p class="f-20 lh-23">Сотрудничество</p>
            <h2>Для инвесторов</h2>
        </div>
        <div class="row f-42 lh-42 f-medium">
            <div class="col-xxxl-6 for-investors-left">
                <div class="row">
                    <div class="col-10">
                        <p>Мы гарантируем полное соответствие нашей деятельности всем законодательным нормам Испании.</p>
                    </div>
                </div>
            </div>
            <div class="col-xxxl-6 for-investors-right">
                <div class="row">
                    <div class="col-10 offset-2">
                        <p>Благодаря использованию современных технологий и материалов наши объекты постоянно растут в цене.</p>
                        <p>Это отличная возможность для тех, кто стремится инвестировать в перспективные проекты.</p>
                        <a href="#" class="btn btn-warning">Узнать подробности</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>