<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="/" class="logo"></a>
            <div class="d-flex justify-content-between">
                <div class="nav-item dropdown">
                    <a href="our-projects.html" class="nav-link">Наши проекты</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <a href="about-us.html" class="nav-link">О нас</a>
                <a href="for-investors.html" class="nav-link">Для инвесторов</a>
                <a href="contacts.html" class="nav-link">Контакты</a>
            </div>
            <a href="#">EN</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ru</a></li>
                <li><a class="dropdown-item" href="#">En</a></li>
                <li><a class="dropdown-item" href="#">Es</a></li>
            </ul>
        </div>
    </nav>
</header>