<section class="main-header-section pt-xxxl-441 pt-xxl-312 pt-md-210 pt-178" style="background-image: url(images/main-header-section-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <p class="f-34 lh-37 f-bold">Продаём то, что строим. -  Строим то, что продаём!</p>
                <p class="f-xxxl-150 lh-xxxl-150 f-xxl-100 lh-xxl-100 f-bold d-none d-sm-block">Zlata Consola S.L.</p>
            </div>
            <div class="col-xl-6 pt-xxxl-312">
                <p class="f-xxxl-70 f-md-51 lh-xxxl-66 lh-md-56 f-semibold">Работаем с 2018 года. На сегодняшний день имеем <span class="text-warning">16 объектов</span> в стадии строительства</p>
            </div>
        </div>
    </div>
</section>