<section class="main-header-section" style="background-image: url(images/main-header-section-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <p class="f-34 lh-37 f-bold">Продаём то, что строим. -  Строим то, что продаём!</p>
                <p class="f-150 lh-150 f-bold">Zlata Consola S.L.</p>
            </div>
            <div class="col-xl-6 pt-312">
                <p class="f-70 lh-66 f-semibold">Работаем с 2018 года. На сегодняшний день имеем <span class="text-warning">16 объектов</span> в стадии строительства</p>
            </div>
        </div>
    </div>
</section>