<section class="main-header-section pt-xxxl-441 pt-xxl-312 pt-md-210 pt-178" style="background-image: url(images/main-header-section-bg.jpg)">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="animate__animated animate__fadeInUp mb-xl-80">
                    <p class="f-md-34 lh-md-37 f-11 lh-12 f-bold">Продаём то, что строим. - Строим то, что продаём!</p>
                    <p class="f-xxxl-150 lh-xxxl-150 f-xxl-110 lh-xxl-110 f-bold d-none d-xl-block">Zlata Consola S.L.</p>
                </div>
            </div>
            <div class="col-xl-6 pt-xxxl-312 pt-xl-274 mb-xl-0 mb-lg-40">
                <div class="animate__animated animate__fadeInUp">
                    <p class="f-xxxl-70 f-md-51 lh-xxxl-66 lh-md-56 f-24 lh-23 f-semibold mb-20">Работаем с 2018 года. На сегодняшний день имеем <span class="text-warning">16 объектов</span> в стадии строительства</p>
                </div>
            </div>
            <div class="col-12">
                <div class="d-lg-flex main-header-section-menu justify-content-xl-start justify-content-center">
                    <div class="animate__animated animate__fadeIn">
                        <a class="main-header-section-menu-item" href="our-projects.html" style="background-image: url(images/our-project-menu.jpg)">
                            <div class="d-flex align-items-lg-end align-items-center position-relative z-2">
                                <span class="f-lg-22 lh-lg-27 f-20 lh-22 f-bold">Наши Проекты</span>
                                <span class="btn btn-warning btn-lg btn-arrow ms-auto">
                               <i class="ri-arrow-right-line"></i>
                            </span>
                            </div>
                        </a>
                    </div>
                    <div class="animate__animated animate__fadeIn">
                        <a class="main-header-section-menu-item" href="for-investors.html" style="background-image: url(images/for-investors-menu.jpg)">
                            <div class="d-flex align-items-lg-end align-items-center position-relative z-2">
                                <span class="f-lg-22 lh-lg-27 f-20 lh-22 f-bold">Для инвесторов</span>
                                <span class="btn btn-warning btn-lg btn-arrow ms-auto">
                               <i class="ri-arrow-right-line"></i>
                            </span>
                            </div>
                        </a>
                    </div>
                    <div class="animate__animated animate__fadeIn">
                        <a class="main-header-section-menu-item" href="about-us.html" style="background-image: url(images/about-us-menu.jpg)">
                            <div class="d-flex align-items-lg-end align-items-center position-relative z-2">
                                <span class="f-lg-22 lh-lg-27 f-20 lh-22 f-bold">О нас</span>
                                <span class="btn btn-warning btn-lg btn-arrow ms-auto">
                               <i class="ri-arrow-right-line"></i>
                            </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>