<section class="our-projects pt-lg-160 pt-80">
    <div class="container-fluid">
        <div class="our-projects-title">
            <p class="f-20 lh-23">Портфель</p>
            <h2>Наши проекты</h2>
        </div>
        <div class="our-projects-slick">
            {% include '../molecules/our-projects-slick-item.twig' %}
            {% include '../molecules/our-projects-slick-item.twig' %}
            {% include '../molecules/our-projects-slick-item.twig' %}
            {% include '../molecules/our-projects-slick-item.twig' %}
        </div>

        <div class="our-projects-slick-arrows mx-15"></div>
    </div>
</section>