<section class="our-projects">
    <div class="container-fluid">
        <div>
            <p class="f-20 lh-23">Портфель</p>
            <h2>Наши проекты</h2>
        </div>
        <div class="our-projects-slick">
            <div class="mx-15">
                <a href="#" class="our-projects-slick-item p-40" style="background-image: url(images/project-slick-image.jpg)">
                    <div class="d-flex align-items-end">
                        <div class="d-flex flex-column">
                            <small class="text-uppercase f-16 lh-24 f-bold">Вилла</small>
                            <span class="f-42 lh-46 f-bold">Arenys de Mar Arenys de Arenys de Mar Mar </span>
                        </div>
                        <span class="btn btn-warning btn-lg">
                    <i class="ri-arrow-right-line"></i>
                    </span>
                    </div>
                </a>
            </div>

            <div class="mx-15">
                <a href="#" class="our-projects-slick-item p-40" style="background-image: url(images/project-slick-image.jpg)">
                    <div class="d-flex align-items-end">
                        <div class="d-flex flex-column">
                            <small class="text-uppercase f-16 lh-24 f-bold">Вилла</small>
                            <span class="f-42 lh-46 f-bold">Arenys de Mar Arenys de Arenys de Mar Mar </span>
                        </div>
                        <span class="btn btn-warning btn-lg">
                    <i class="ri-arrow-right-line"></i>
                    </span>
                    </div>
                </a>
            </div>

            <div class="mx-15">
                <a href="#" class="our-projects-slick-item p-40" style="background-image: url(images/project-slick-image.jpg)">
                    <div class="d-flex align-items-end">
                        <div class="d-flex flex-column">
                            <small class="text-uppercase f-16 lh-24 f-bold">Вилла</small>
                            <span class="f-42 lh-46 f-bold">Arenys de Mar Arenys de Arenys de Mar Mar </span>
                        </div>
                        <span class="btn btn-warning btn-lg">
                    <i class="ri-arrow-right-line"></i>
                    </span>
                    </div>
                </a>
            </div>

            <div class="mx-15">
                <a href="#" class="our-projects-slick-item p-40" style="background-image: url(images/project-slick-image.jpg)">
                    <div class="d-flex align-items-end">
                        <div class="d-flex flex-column">
                            <small class="text-uppercase f-16 lh-24 f-bold">Вилла</small>
                            <span class="f-42 lh-46 f-bold">Arenys de Mar Arenys de Arenys de Mar Mar </span>
                        </div>
                        <span class="btn btn-warning btn-lg">
                    <i class="ri-arrow-right-line"></i>
                    </span>
                    </div>
                </a>
            </div>

        </div>

        <div class="our-projects-slick-arrows mx-15"></div>
    </div>
</section>