<section class="our-projects">
    <div class="container-fluid">
        <div>
            <p class="f-20 lh-23">Портфель</p>
            <h2>Наши проекты</h2>
        </div>
        <div class="our-projects-slick">
            <a href="#" class="our-projects-slick-item" style="background-image: url(./src/images/project-slick-image.jpg)">
                <div class="d-flex align-items-center">
                    <span class="f-42 lh-46 f-bold">Arenys de Mar Arenys de Arenys de Mar Mar </span>
                    <span class="btn btn-warning btn-lg">
                    <i class="ri-arrow-right-line"></i>
                    </span>
                </div>
            </a>
        </div>
    </div>
</section>