<a href="#" class="nav-link text-decoration-none border-bottom border-bottom-1 border-gray px-0">
    <div class="d-flex py-10 align-items-center">
        <div class="nav-image" style="background-image: url(images/menu-project-1.jpg)"></div>
        <div class="f-bold d-flex flex-column justify-content-center ms-10">
            <p class="f-12 lh-13 text-uppercase mb-10">Таунхаусы</p>
            <p class="f-16 lh-24 mb-0">Lloret de Mar</p>
        </div>
        <span class="btn btn-warning btn-lg btn-arrow ms-auto">
                                <i class="ri-arrow-right-line"></i>
                            </span>
    </div>
</a>
<a href="#" class="nav-link text-decoration-none border-bottom border-bottom-1 border-gray px-0">
    <div class="d-flex py-10 align-items-center">
        <div class="nav-image" style="background-image: url(images/menu-project-2.jpg)"></div>
        <div class="f-bold d-flex flex-column justify-content-center ms-10">
            <p class="f-12 lh-13 text-uppercase mb-10">Вилла</p>
            <p class="f-16 lh-24 mb-0">Arenys de Mar</p>
        </div>
        <span class="btn btn-warning btn-lg btn-arrow ms-auto">
                                <i class="ri-arrow-right-line"></i>
                            </span>
    </div>
</a>
<a href="#" class="nav-link text-decoration-none border-bottom border-bottom-1 border-gray px-0">
    <div class="d-flex py-10 align-items-center">
        <div class="nav-image" style="background-image: url(images/menu-project-3.jpg)"></div>
        <div class="f-bold d-flex flex-column justify-content-center ms-10">
            <p class="f-12 lh-13 text-uppercase mb-10">Квартиры</p>
            <p class="f-16 lh-24 mb-0">Pineda de Mar</p>
        </div>
        <span class="btn btn-warning btn-lg btn-arrow ms-auto">
                                <i class="ri-arrow-right-line"></i>
                            </span>
    </div>
</a>
<a href="#" class="nav-link text-decoration-none border-bottom border-bottom-1 border-gray px-0">
    <div class="d-flex py-10 align-items-center">
        <div class="nav-image" style="background-image: url(images/menu-project-4.jpg)"></div>
        <div class="f-bold d-flex flex-column justify-content-center ms-10">
            <p class="f-12 lh-13 text-uppercase mb-10">Вилла</p>
            <p class="f-16 lh-24 mb-0">Serra Brava</p>
        </div>
        <span class="btn btn-warning btn-lg btn-arrow ms-auto">
                                <i class="ri-arrow-right-line"></i>
                            </span>
    </div>
</a>